
DPE_DVF_ADEME_BASE_URL=https://data.ademe.fr/data-fair/api/v1/datasets
DPE_DVF_DATASET_LOGEMENT_EXISTANT=dpe03existant
DPE_DVF_DATASET_LOGEMENT_NEUF=dpe02neuf
DPE_DVF_PAGE_SIZE=1000
DPE_DVF_TIMEOUT_SECONDS=60.0
DPE_DVF_MAX_RETRIES=5
DPE_DVF_DOSSIER_BRONZE=data/bronze
DPE_DVF_DOSSIER_SILVER=data/silver
